<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div>
        <p>Human Include Count: <span id="humanIncludeCount"></span></p>
        <p>Human Exclude Count: <span id="humanExcludeCount"></span></p>
        <p>AI Include Count: <span id="aiIncludeCount"></span></p>
        <p>AI Exclude Count: <span id="aiExcludeCount"></span></p>
        <p>Accuracy Percentage: <span id="accuracyPercentage"></span></p>
    </div>
    
    <!-- Container for the plot -->
    <div id="plotContainer"></div>

    <script src="/static/js/script.js"></script>
</body>
</html>
