<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/landing.css" />
    <script src="/static/js/script.js"></script>
    <title>PCE AI</title>
  </head>

  <body>
    <header class="expanded">
      <nav class="header__navegation">
        <img
          src="https://static.wixstatic.com/media/85b92c_f21a10fac4d9497397a19f8aade0ec99~mv2.png/v1/fill/w_346,h_95,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/PCE_White%20registered1.png"
          alt="logo"
          srcset=""
        />
        <ul id="navbarUl">
          <li><a href="/home">Home</a></li>
          <li><a href="/model">Upload Model</a></li>
          <li><a href="/">Sign Out</a></li>
        </ul>
      </nav>
    </header>

    <div class="content">
      <div class="home-section" id="home">
        Introducing our AI-powered web application for Systematic Literature
        Review (SLR), a game-changer in research efficiency. Seamlessly blending
        advanced AI algorithms, our platform accelerates the literature review
        process by automating data screening.
        

        <br />
        <button id="continueto" class="btn">Continue</button>
      </div>
    </div>

    <!-- <footer>
      <img
        src="https://static.wixstatic.com/media/85b92c_f21a10fac4d9497397a19f8aade0ec99~mv2.png/v1/fill/w_346,h_95,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/PCE_White%20registered1.png"
        alt="logo"
        srcset=""
      />
      <h2>Developed by PharmacoEvidence with ❤️</h2>
    </footer> -->
  </body>
</html>
