<!DOCTYPE html>
<html lang="en">
  <iframe
    id="signup-iframe"
    style="display: none"
    width="100%"
    height="100%"
  ></iframe>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/landing.css" />
    <script src="/static/js/script.js"></script>
    <title>PCE AI</title>
  </head>

  <body>
    <header>
      <nav class="header__navegation">
        <img
          src="https://static.wixstatic.com/media/85b92c_f21a10fac4d9497397a19f8aade0ec99~mv2.png/v1/fill/w_346,h_95,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/PCE_White%20registered1.png"
          alt="logo"
          srcset=""
        />
      </nav>
    </header>

    <div class="content">
      <div class="intro">
        <h1>AI-Powered SLR</h1>
        <h2>
          Experience Effortless Systematic Literature Review with power of Generative AI
        </h2>
        <button class="btn" button id="getstarted" >
          Get Started
        </button>
      </div>
    </div>

    <!-- <footer>
      <img
        src="https://static.wixstatic.com/media/85b92c_f21a10fac4d9497397a19f8aade0ec99~mv2.png/v1/fill/w_346,h_95,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/PCE_White%20registered1.png"
        alt="logo"
        srcset=""
      />
      <h2>Developed by PharmacoEvidence with ❤️</h2>
    </footer> -->
  </body>
</html>
