<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/landing.css">
    <script src="/static/js/script.js"></script>
    <title>PCE AI Login</title>
    
</head>

<body>

    <header>
        <nav class="header__navegation">
            <img src="https://static.wixstatic.com/media/85b92c_f21a10fac4d9497397a19f8aade0ec99~mv2.png/v1/fill/w_346,h_95,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/PCE_White%20registered1.png" alt="logo" srcset="">
        </nav>
        <ul id="navbarUl" style="display: none;">
            <li><a href="#">Home</a></li>
            <li><a href="#">Upload Model</a></li>
        </ul>
    </nav>
    </header>
            
       
    <div class="content">
        <div class="signup-card" id="signup">
            <form action="/signin" method="post" enctype="application/x-www-form-urlencoded" onsubmit="showLoader()">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
        
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
        
                <button type="submit" class="btn">Sign In</button>
            </form>
        
            
            

            <!-- Loader Container
            <div id="loader-container">
                <svg class="ip" viewBox="0 0 256 128" width="256px" height="128px" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <linearGradient id="grad1" x1="0" y1="0" x2="1" y2="0">
                            <stop offset="0%" stop-color="#5ebd3e" />
                            <stop offset="33%" stop-color="#ffb900" />
                            <stop offset="67%" stop-color="#f78200" />
                            <stop offset="100%" stop-color="#e23838" />
                        </linearGradient>
                        <linearGradient id="grad2" x1="1" y1="0" x2="0" y2="0">
                            <stop offset="0%" stop-color="#e23838" />
                            <stop offset="33%" stop-color="#973999" />
                            <stop offset="67%" stop-color="#009cdf" />
                            <stop offset="100%" stop-color="#5ebd3e" />
                        </linearGradient>
                    </defs>
                    <g fill="none" stroke-linecap="round" stroke-width="16">
                        <g class="ip__track" stroke="#ddd">
                            <path d="M8,64s0-56,60-56,60,112,120,112,60-56,60-56" />
                            <path d="M248,64s0-56-60-56-60,112-120,112S8,64,8,64" />
                        </g>
                        <g stroke-dasharray="180 656">
                            <path class="ip__worm1" stroke="url(#grad1)" stroke-dashoffset="0"
                                d="M8,64s0-56,60-56,60,112,120,112,60-56,60-56" />
                            <path class="ip__worm2" stroke="url(#grad2)" stroke-dashoffset="358"
                                d="M248,64s0-56-60-56-60,112-120,112S8,64,8,64" />
                        </g>
                    </g>
                </svg>
            </div> -->
            
        </div>
    </div>
        
<!--         

    

    <footer>       
        <img src="https://static.wixstatic.com/media/85b92c_f21a10fac4d9497397a19f8aade0ec99~mv2.png/v1/fill/w_346,h_95,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/PCE_White%20registered1.png" alt="logo" srcset="">
        <h2>Developed by PharmacoEvidence with ❤️</h2>
</footer> -->
    

</body>

</html>
